.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
    position: relative;
}

.videoSection {
    width: 100%;
    padding: 20px 0;
    position: relative;
    display: inline-block;
    z-index: 1;
}

.video {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    aspect-ratio: 1.5 / 1.1;
    margin-left: 0;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.playPauseIcon {
    position: absolute;
    top: 50%;
    right: 50%;
    width: 50px;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    z-index: 2;
    display: none;
    transition: opacity 0.3s ease;
    transform: translate(20px, -30px);
}

.videoSection:hover .playPauseIcon {
    display: block;
    opacity: 1;
}

.playPauseIcon img {
    border-radius: 50%;
}

.triangle {
    position: absolute;
    width: 45%;
    bottom: 0;
    left: 0;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.containt {
    padding: 0px 20px;
    z-index: 1;
}

.heading {
    padding: 0px 20px;
    margin-bottom: 40px;
}

.heading h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: #454555;
}

.heading span {
    color: #0047B2;
}

.heading p {
    color: #767587;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    width: 100%;
}

.queryContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px 20px;
}

@keyframes appearFromLeft {
    from {
        opacity: 0.25;
        transform: translate(-200px);
    }
    to {
        opacity: 1;
        transform: translate(0px);
    }
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
        padding: 40px;
    }

    .videoSection {
        width: 700px;
        padding: 50px 0;
    }

    .video {
        max-width: 500px;
        margin-left: 30px;
    }

    .playPauseIcon {
        width: 80px;
        font-size: 3rem;
        transform: translate(80px, -30px);
    }

    .containt {
        padding: 0px 50px;
    }

    .heading {
        padding: 0px 60px;
        margin-bottom: 60px;
    }

    .heading h1 {
        font-size: 3rem;
    }

    .heading p {
        font-size: 1.2rem;
        width: 620px;
    }

    .queryContainer {
        padding: 0px 60px;
        gap: 30px;
    }

    .videoSection:hover .video {
        transform: scale(1.1);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
        z-index: 10;
    }
    
    .videoSection:hover .triangle {
        transform: scale(1.1);
        z-index: 10;
    }
    
    .videoSection:hover .playPauseIcon {
        display: block;
        opacity: 1;
    }

}
