.card {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 24px;
    width: 300px;
    height: 240px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}

.link {
    text-decoration: none;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
}

.card img {
    width: 60px;
    height: 60px;
}

.card0 {
    animation: appearFromLeft ease-out forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 60%;
    border-bottom: 4px solid #FF385C;
}

.card1 {
    animation: appearFromCenter ease-out forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 60%;
    border-bottom: 4px solid #FFA177;
}

.card2 {
    animation: appearFromRight ease-out forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 60%;
    border-bottom: 4px solid #00CDAC;
}

.card3 {
    border-bottom: 4px solid #00d8ff;
}

.card4 {
    border-bottom: 4px solid #c8e9a0;
}

.card5 {
    border-bottom: 4px solid #2D8CFF;
}

.card .title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #0047B2;
    margin-bottom: 20px;
    margin-top: 25px;
    text-align: center;
}

.card5 .title {
    width: 325px;
    /* border: 2px solid red;  */
}

.description {
    color: #6C757D;
    height: 250px;
    font-size: 1rem;
    line-height: 1.3;
    text-align: center;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.buttonContainer .button {
    text-decoration: none;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    background: #1C1C1C;
    color: white;
    cursor: pointer;
}

@keyframes appearFromCenter {
    from {
        opacity: 0.25;
        transform: translateY(250px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes appearFromLeft {
    from {
        opacity: 0.25;
        transform: translate(-200px, 250px);
    }
    to {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

@keyframes appearFromRight {
    from {
        opacity: 0.25;
        transform: translate(200px, 250px);
    }
    to {
        opacity: 1;
        transform: translate(0px, 0px);
        transform: translateY(0);
    }
}

/* Media Queries for Mobile View */
@media (max-width: 768px) {
    .card {
        /* width: 100%; */
        /* padding: 20px; */
        height: auto;
    }

    .card .title {
        font-size: 1.25rem;
        margin-top: 20px;
        margin-bottom: 15px;
        text-align: center;
    }

    .description {
        height: auto;
        font-size: 0.9rem;
        line-height: 1.2;
    }

    .buttonContainer {
        flex-direction: column;
        align-items: center;
    }

    .buttonContainer .button {
        width: 100%;
        margin-top: 10px;
        padding: 10px 15px;
    }
}
