.container {
    display: flex;
}

/* .img{
    flex: 1;
    width: 20px;
    padding: 50px;
} */
.img img {
    padding: 50px;
    width: auto;
    height: 750px;
    /* max-width: 500px;  */
    border-radius: 8px; 
}
.welcomeText{
    position: relative;
    top: -40px;
    padding: 40px;
    margin-left: 100px;
    font-weight: 400;
    font-size: 16px;
}

.toggleButtonContainer{ 
    position: absolute;
    left: 45%;
    transform: translate(-50%,-120%);
    padding: 5px;
    background-color: #0047B280;
    width: 300px;
    height: 40px;
    border-radius: 50px;
}
.formContainer{
    position: relative;
    flex: 1;
    padding: 50px;
    max-width: 500px;
    margin-top: 50px;
}

.toggleButtons {
    display: flex;
    justify-content: center;
    padding: 2px;
}

.toggleButton {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.4s ease;
    width: 150px;
}

.activeButton {
    background-color: #0047B2;
    color: white;
    font-weight: bold;
}

.formField {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 20px;
}

.formField label {
    font-size: 1rem;
    color: #333;
}

.formField input {
    padding: 12px;
    border: 1px solid #0047B2;
    border-radius: 50px;
    font-size: 1rem;
    width: 400px;
}

.formField input::placeholder{
    color: #ACACAC;
    font-weight: 300;
    font-size: 15px;
}

.formOptions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.formText{
    margin-top: 50px;
    margin-bottom: 40px;
    color: #5B5B5B;
    font-size: 16px;
    font-weight: 400;    
}

.formButton {
    padding: 12px;
    border: none;
    border-radius: 50px;
    background-color: #0047B2;
    color: white;
    margin-left: 150px;
    margin-top: 50px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    width: 170px;
    transition: background-color 0.3s ease;
}

.formOptions a {
    font-size: 0.9rem;
    color: #3b82f6;
    text-decoration: none;
}

.formOptions a:hover {
    text-decoration: underline;
}

.errorMessageLogin {
    color: red;
}

.errorMessageSignup {
    color: red;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}