.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid blue; */
}

/* .img{
    flex: 1;
    width: 20px;
    padding: 50px;
} */
.img img {
    padding: 30px;
    width: auto;
    height: 600px;
    /* max-width: 500px;  */
    border-radius: 8px; 
}
.welcomeText{
    /* position: relative; */
    /* top: -40px; */
    /* padding: 0px; */
    /* margin-left: 100px; */
    font-weight: 400;
    font-size: 16px;
    /* border: 2px solid green; */
    text-align: center;
}

.toggleButtonContainer{ 
    /* position: absolute; */
    /* left: 45%; */
    /* transform: translate(-50%,-120%); */
    padding: 5px;
    background-color: #0047B280;
    width: 300px;
    height: 40px;
    border-radius: 50px;
}
.formContainer{
    /* position: relative; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 10px 50px;
    max-width: 500px;
    /* margin-top: 50px; */
    /* border: 2px solid red; */
}

.toggleButtons {
    display: flex;
    justify-content: center;
    padding: 2px;
}

.toggleButton {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.4s ease;
    width: 150px;
}

.activeButton {
    background-color: #0047B2;
    color: white;
    font-weight: bold;
}

.form{
    display: flex;
    flex-direction: column;
}
.formField {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 20px;
    
}

.formField label {
    font-size: 1rem;
    color: #333;
}

.formField input {
    padding: 12px;
    border: 1px solid #0047B2;
    border-radius: 50px;
    font-size: 1rem;
    width: 400px;
}

.formField input::placeholder{
    color: #ACACAC;
    font-weight: 300;
    font-size: 15px;
}

.formOptions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.formText{
    margin-top: 50px;
    margin-bottom: 40px;
    color: #5B5B5B;
    font-size: 16px;
    font-weight: 400;    
}


.formButton {
    padding: 12px;
    border: none;
    border-radius: 50px;
    background-color: #0047B2;
    color: white;
    margin: 30px auto 10px auto;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    width: 170px;
    transition: background-color 0.3s ease;
}

.formOptions a {
    font-size: 0.9rem;
    color: #3b82f6;
    text-decoration: none;
}

.formOptions a:hover {
    text-decoration: underline;
}

.errorMessageLogin {
    color: red;
}

.errorMessageSignup {
    color: red;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* GoogleSignInButton.module.css */
.googleButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    padding: 10px 16px;
    border: 1px solid #dcdcdc;
    border-radius: 24px;
    background-color: white;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #5f6368;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
  }
  
  .googleButton:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .googleLogo {
    width: 18px;
    height: 18px;
    margin-right: 8px;
  }

.loginContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.passwordInputContainer {
    position: relative;
  }
  
  
  .eyeIcon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    /* font-size: 1.5rem; */
    cursor: pointer;
  }
  

/* Media Queries */

/* 1440px and up */
@media (max-width: 1440px) and (min-width: 1025px) {
    .container {
        flex-direction: row;
        height: auto;
        /* border: 2px solid red; */
    }
    .img img {
        height: 500px;
        margin-left: 60px;
    }
    .formContainer {
        max-width: 600px;
        padding: 20px 50px;
    }
    .formField input {
        width: 350px;
    }
    .formButton {
        width: 180px;
    }
}

/* 1024px */
@media (max-width: 1024px) {
    .container {
        flex-direction: row;
        padding: 20px;
    }
    .img img {
        height: 400px;
    }
    .formContainer {
        padding: 20px 40px;
    }
    .formField input {
        width: 300px;
    }
    .formButton {
        width: 160px;
    }
    .toggleButtonContainer {
        width: 250px;
    }
}

/* 768px */
@media (max-width: 768px) {
    .container {
        flex-direction: row;
        padding: 10px;
    }
    .img img {
        height: 350px;
        /* border: 2px solid red; */
        display: none;

    }
    .formContainer {
        max-width: 500px;
        padding: 20px;
    }
    .formField input {
        width: 280px;
    }
    .formButton {
        width: 150px;
    }
    .toggleButtonContainer {
        width: 230px;
    }
}

/* 425px */
@media (max-width: 426px) {
    .container {
        flex-direction: column;
        padding: 10px;
    }
    .img img {
        height: 300px;
        display: none;
    }
    .formContainer {
        margin-top: -20px;
        padding: 15px 30px;
    }
    .formField input {
        width: 260px;
    }
    .formButton {
        width: 140px;
    }
    .toggleButtonContainer {
        width: 220px;
    }
}

/* 375px */
@media (max-width: 376px) {
    .container {
        flex-direction: column;
        padding: 10px;
    }
    .img img {
        height: 250px;
    }
    .formContainer {
        margin-top: -20px;
        padding: 10px 20px;
    }
    .formField input {
        width: 240px;
    }
    .formButton {
        width: 130px;
    }
    .toggleButtonContainer {
        width: 200px;
    }
}

/* 320px */
@media (max-width: 320px) {
    .container {
        width: 104%;
        flex-direction: column;
        padding: 10px;
    }
    .img img {
        height: 200px;
        margin-bottom: -30px;
    }
    .formContainer {
        padding: 10px 20px;
    }
    .formField input {
        width: 220px;
    }
    .formButton {
        width: 120px;
    }
    .toggleButtonContainer {
        width: 180px;
    }
}