.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F8FAFC;
  border-bottom: 1px solid #e0e0e0;
  padding: 8px 95px 8px 15px;
  font-family: "Arial", sans-serif;
}
  
.breadcrumb {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  gap: 12px;
  font-style: "Jakrata", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #4a4a4a;
  padding: 0px 2px;
}

.breadcrumb div {
  margin: 0;
}

.active {
  color: #0047B2;
}

.actionIcons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.buttonContainer img {
  cursor: pointer;
}

.previous {
  font-style: "Jakrata", sans-serif;
  font-weight: 700;
  color: #475569;
  cursor: pointer;
  margin: 0;
}

.next {
  font-style: "Jakrata", sans-serif;
  font-weight: 700;
  color: #475569;
  margin: 0;
  cursor: pointer;
}
