/* Parent container styling */
.appContainer {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full height for the app container */
    overflow: hidden; 
  }
  
  .mainContainer {
    display: flex;
    justify-content: space-between;
    flex: 1;
    overflow: hidden;
  }
  
  .middleContainer {
    flex: 1; /* Allow the middle section to take available space */
    display: flex;
    flex-direction: column;
    overflow: auto;
  }