.titleContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    text-decoration: none;
    background-color: #F8FAFC;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.title{
    font-size: 20px;
    font-weight: 700;
    color: #1E293B;
}