.container {
    padding: 30px;
    /* background-color: greenyellow; */
}

.heading {
    margin-bottom: 20px;
    padding: 0px 50px;
    line-height: 0.9;
}

.heading h1 {
    font-size: 3.4rem;
    font-weight: 600;
    color: #0047B2;
}

.heading p {
    color: #6C757D;
    line-height: 1.5;
}

.cardContainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 60px;
    justify-content: space-around;
    padding: 20px 40px;
}

.card {
    animation: appear 5s linear;
    border: 2px solid red;
}

/* @media (max-width: 768px) {
    .heading {
        padding: 0px 20px;
    }

    .heading h1 {
        font-size: 2.5rem;
    }

    .cardContainer {
        grid-template-columns: repeat(2, auto);
        gap: 40px;
        padding: 20px 40px;
    }
} */

@media (max-width: 480px) {

    .container {
        padding: 20px;
        /* border: 2px solid red; */
        /* overflow-x: hidden; */
    }
        
    .cardContainer{
        display: flex;
        flex-direction: column;
        /* gap: 20px; */
        padding: 0px;
        /* border: 2px solid blue; */
    }


    .heading {
        padding: 0px 10px;

    }

    .heading h1 {
        font-size: 2rem;
    }

    .cardContainer {
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 20px 20px;
    }
}
