.footer {
    display: flex;
    align-items: center;
    color: white;
}
.footerWrapper{
    background: linear-gradient(to right,#012F73, #0248B3);
    padding: 20px 0;
}

.footerContainer{
    display: flex;
    margin: 3% 5%;
    flex-wrap: wrap; 
}

.footerLogo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
}

.logoImage {
    width: 20%; 
    height: auto;
}

.footerText{
    margin-left: 5%;
    margin-top: 5%;
    font-size: 30px;
    font-weight: 500;
    
}

.footerDescription{
    width: 75%;
    font-size: 14px;
    font-weight: 400;
}

.socialmediaLogoContainer {
    margin-top: 3%;
}

.socialmediaLogo{
    margin: 10px;
}
.youtubeLogo{
    margin: 10px;
    border: 1.5px solid white;
}

.linksContainer{
    padding: auto;
}

td {
    padding-left: 15px;
    padding-right: 10px;
    font-size: 14px;
    font-weight: 600;
    white-space: normal; /* allow wrapping if needed */
    max-width: 150px;
    word-wrap: break-word;
}

table{
    margin-right: -100px;
    margin-top: 30px;
}

.footer a {
    color: #ffffff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
.footerDivider {
    border: none;            
    border-top: 1px solid #ccc; 
    margin-bottom: 50px;
    margin-top: -40px;
    width: 100%;         
}

.copyright {
    margin-top: -20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 720px) {
    .footerContainer {
        flex-direction: column;
        margin: 3% 5%; 
    }

    .footerText {
        font-size: 20px;
        margin: 5px 0;
    }

    .footerDescription {
        font-size: 12px; 
        width: 100%; 
    }

    .logoImage {
        width: 50%;
    }

    .socialmediaLogoContainer {
        flex-wrap: wrap; 
        justify-content: center;
    }

    td {
        font-size: 10px; 
        padding: 5px; 
    }

    table {
        width: 100%;
        margin: 10px auto;
    }

    .footerDivider {
        border: none;            
        border-top: 1px solid #ccc; 
        margin-bottom: 35px;
        margin-top: -10px;
        width: 100%;  
    }

    .copyright {
        font-size: 10px; 
    }
}